{% autoescape off %}

Dear {{user.first_name}} {{user.last_name}},

I hope this email finds you well. We are pleased to inform you that you have been appointed as a new committee member, and you shall join the KZNSC Colors board as {{committeeMember.position}}.

Your role will involve reviewing color applications and approving them for awarding by the KZNSC Executive Committee.

Please login to the Colors Application at: http://{{ domain }}{% url 'activate' uidb64=uid token=token %} for more information about the application and to activate your account.
{% if password %}

Your new logins:

Email: {{user.email}}
password: {{password}}
{% endif %}
Best Regards,
The KZNSC Colors

{% endautoescape %}