{% autoescape off %}
    Dear {{member.FirstName}} {{member.Surname}}

    We regret to inform you that your membership as the KZNSC Colors Committee has been "Canceled".
    Details of the action are as follow.
    
    Action taken by:    {{admin_user.first_name}} {{admin_user.last_name}}
    Effective from date:    {{member.ResponseDate}}
    Membership status:  {{member.status}}
    
    ____________________________________________________

    For the rest of the details, please use the link below to log in on the colors application.
    {{protocol}}://{{ domain }}{% url 'login' %}


    Best regards

    KZNSC Colors


{% endautoescape %}