{% autoescape off %}

    Hello {{Applicant_user.first_name}} {{Applicant_user.last_name}}, I hope this email finds you well.
    Please be informed that your application for colors has been approved.
    Event Name: {{application.EventName}}
    Start Date: {{application.StartDate}}
    End Date: {{application.EndDate}}
    ____________________________________________________

    For the rest of the details, please use the link below to login.
    {{protocol}}://{{ domain }}{% url 'login' %}


    Best regard

    KZNSC Colors


{% endautoescape %}