{% extends "MyApp/base.html" %}

{% block content %}
    {% load static %}
    <link href="{% static "MyApp/applicantReviewCss.css" %}" rel="stylesheet"/>
    <style>
        table{
            border:solid 1px;
            width:100%
        }
        tr{
            border:solid 1px
        }
        td{
            border:solid 1px
        }
        tr:hover{
            background-color:green;
            color:white
        }

    </style>
    {% if messages %}
        {% for message in messages %}
            <br/>
            <div>
                <center>
                    <div style="padding:1rem;  border:solid 1px #FF69B4; border-radius:15px; width:auto; display:flex; justify-content:center;align-centent:center;" class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'warning' %}alert-warning{% elif message.tags == 'error' %}alert-danger{% endif %}">
                    <p>
                        {{ message }}
                    </p>
                    </div>
                </center>
            </div>

        {% endfor %}
    {% endif %}
    <div class="row"  style="display:flex;justify-content:center">
        <div style="padding:0.5rem;">

            <div style="padding:0.5rem; border:solid 1px; border-radius:12px">
                <a href="{% url 'Application_review' applicationId=application.ApplicationId  %}" title="See officials page" class="btn btn-info">
                    <b>
                        Go to application
                    </b>
                </a>

            </div>
            
        </div>
        <div style="padding:0.5rem;">
            <div style="padding:0.5rem; border:solid 1px; border-radius:12px">
                
                <a href="{% url 'ApplicantInfo' applicantApplicationId=applicantApplication.ApplicantApplicationId %}" class="btn btn-info">Go to Review</a>

            </div>
        </div>
    
        <div style="padding:0.5rem;">

            <div style="padding:0.5rem; border:solid 1px; border-radius:12px">
                <a href="{% url 'Applcants' applicationId=application.ApplicationId %}" title="See Applicants page" class="btn btn-info">
                    <b>
                        Applicants
                    </b>
                </a> 
               
                

            </div>
        
        </div>
    
    </div>



    <div class="container">
       
        <div >
            <div class="applicant_holder_header"> 

                <h3>
                    {{sportsPerson.FirstName}} {{sportsPerson.Surname}}
                </h3>
                <hr/>
                <h5>
                    {{application.Federation.FederationName}}
                </h5>

            </div>
        

            <div  class="card border-left-primary shadow h-100 py-2" style="border-radius:12px">
                <div>
                    {% comment %} href="{% url 'update_Representative' represantativeId=athlete.RepresantativeId %}" {% endcomment %}
                   
                </div>
                <div class="card-body applicant_info row"  style="display:flex; justify-centent:center" >
       
                    
                    <div id="applicant_info">
                 
                        <div >
                            <div class="row" style="display:flex; justify-content:space-between">
                                <div style="padding:0.4rem">
                                    <h4>
                                        Applicant information
                                    </h4>
                                </div>
                               
                                
                            </div>
                            <hr/>
                            
                            <div >
                                <label>Athlete Id Number: {{sportsPerson.Id_number}}</label><br/>
                                <label>First Name: {{sportsPerson.FirstName}} </label><br/>
                                <label>Last Name: {{sportsPerson.Surname}}</label><br/>
                                <label>Gender: {{sportsPerson.Gender}}</label><br/>
                                <label>Phone Number: {{sportsPerson.PhoneNumber}}</label><br/>
                                <label>Email: {{sportsPerson.Email}}</label><br/>
                                
                                <label>Applicant Type: {{applicantApplication.RepresatativeType}}</label><br/>
                                <label>Applicant Level: {{applicantApplication.RepresatativeLevel}}</label><br/>
                                {% if athlete.is_parent %}
                                    <label>Application is perfomed by parent</label><br/>
                                {% endif %}
                                {% if applicantApplication.is_terms_accepted%}
                                    <label>terms and condition accepted</label><br/>
                                {% endif %}
                                <label>Application Status: {{applicantApplication.status}}</label><br/>
                               
                            </div>
                        </div>

                        
                        
                    </div>
                </div>
                {% if application.ApplicationStatus != "Approved" and user.is_staff %}
                    <div class="card-footer">
        
                        <div id="div_cancel"    >
                            {% comment %} {% url 'cancel_applicant_app' applicantId=athlete.RepresantativeId  applicant_type="Athlete" %} {% endcomment %}
                            <form method="post">
                                {% csrf_token %}

                                <div class="text-center">
                                    <p class="text-danger">Are you sure you want to decline this applicant?</p>
                                </div>
                                <hr/>
                                <div>
                                    <label>
                                        please state a valid reason why you want to decline this applicant colors awarding
                                    </label>
                                    <textarea name="declineReason" max="500" placeholder="Enter reason to decline applicant application" class="form-control" required></textarea>
                                </div>
                                <div class="actions row">
                                    <div>   
                                        <button type="submit" class="btn btn-default btn-success">
                                            <b> Confirm Decline</b>
                                        </button>
                                    </div>
                                    <div>   
                                        <a style="color:white" class="btn btn-default btn-danger" href="{% url 'ApplicantInfo' applicantApplicationId=applicantApplication.ApplicantApplicationId %}" >
                                            <b>Abort Action</b>
                                        </a>
                                    </div>
                                </div>

                            </form>

                        </div>
                    </div>

                {% endif %}
            </div>
        </div>


    </div>





    <script>

        iframe = document.getElementById("iframe");
        console.log(iframe);
    </script>



{% endblock %}