<!DOCTYPE html>
<html lang="en">
    <head>
        {%load static %}
        <meta charset="utf-8">
        <title>KZNSC colors</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">

        <!-- Favicons -->
        <link href=" {% static 'imanageProfile/images/kzn-sports-confederation-logo.png' %}" rel="icon">
        <link href="{% static 'manageProfile/images/kzn-sports-confederation-logo.png' %}" rel="apple-touch-icon">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Raleway:100,200,300,400,500,600,700,800,900" rel="stylesheet"> 

        <!-- Vendor CSS File -->
        <link href="{% static "test/vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
        <link href="{% static "test/vendor/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet">
        <link href="{% static "test/vendor/slick/slick.css" %}" rel="stylesheet">
        <link href="{% static "test/vendor/slick/slick-theme.css" %}" rel="stylesheet">
        <link href="{% static 'test/vendor/tempusdominus/css/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet" />

        <!-- Main Stylesheet File -->
        <link href="{% static 'test/css/hover-style.css' %}" rel="stylesheet">
        <link href="{% static 'test/css/style.css' %}" rel="stylesheet">
    </head>

    <body>
        <!-- Header Section Start -->
        <header id="header">
            <a href="{% url 'home' %}" class="logo"><img src="{% static 'manageProfile/images/kzn-sports-confederation-logo.png' %}" alt="logo"></a>
            {% comment %} <div class="phone"><i class="fa fa-phone"></i></div>
            <div class="mobile-menu-btn">
                {% if user.is_authenticated %}

                <a class="text-danger" href="{% url 'logoutuser' %}">Logout</a>

                {% endif %}
            </div> {% endcomment %}
            {% comment %} <nav class="main-menu top-menu">
                <ul>
                    <li class="active"><a href="index.html">Home</a></li>
                    <li><a href="about.html">About Us</a></li>
                    <li><a href="room.html">Apartments</a></li>
                    <li><a href="amenities.html">Amenities</a></li>
                    <li><a href="booking.html">Booking</a></li>
                    <li><a href="login.html">Login</a></li>
                    <li><a href="contact.html">Contact Us</a></li>
                </ul>
            </nav> {% endcomment %}
            <nav class="main-menu top-menu" >
                <ul>
                    <li class="active"><a href="{% url 'home' %}">Home</a></li>

                    {% if user.is_authenticated %}
                        {% if user.is_superuser %}
                        

                            <li class="nav-item text-uppercase font-weight-bold">
                                <a href="{% url 'Applications' %}" style="color: green;" class="nav-link" href="">Applications</a>
                            </li>
                        {% else %}
                        
                           
                            <li class="nav-item text-uppercase font-weight-bold">
                                <a class="nav-link" href="{%   url 'my_applications' %}" >Applications</a>
                            </li>   
                    
                        {% endif %}
                        
                        <li><a class="" href="{% url 'account' %}">{{user}}</a></li>

                        <li><a class="text-danger" href="{% url 'logoutuser' %}">Logout</a></li>
                    {% else %}
                        <li><a href="{% url 'Signup' %}">Register</a></li>
                        <li><a href="{% url 'login' %}">Login</a></li>
                        

                    {% endif %}
                    
                </ul>
            </nav>
        </header>

        <!-- Search Section End -->

        


        {% block content %}



        {% endblock %}

   
        
        
        <!-- Footer Section Start -->
        <div id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="social">
                            <a href=""><li class="fa fa-instagram"></li></a>
                            <a href=""><li class="fa fa-twitter"></li></a>
                            <a href=""><li class="fa fa-facebook-f"></li></a>
                        </div>
                    </div>
                    <div class="col-12">
                        <ul>
                            <li><a href="">Home</a></li>
                            <li><a href="">About</a></li>
                            <li><a href="">Terms</a></li>
                            <li><a href="">Contact</a></li>
                        </ul>
                    </div>
                    <div class="col-12">
                        <p>Copyright &#169; <a href="https://htmlcodex.com">HTML Codex</a> All Rights Reserved.</p>
						<p>Template By <a href="https://htmlcodex.com">HTML Codex</a></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Section End -->
        
        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
        
        <!-- Vendor JavaScript File -->
        <script src="{% static 'test/vendor/jquery/jquery.min.js' %}"></script>
        <script src=" {% static 'test/vendor/jquery/jquery-migrate.min.js' %}"></script>
        <script src="{% static 'test/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'test/vendor/easing/easing.min.js' %}"></script>
        <script src="{% static 'test/vendor/stickyjs/sticky.js' %}"></script>
        <script src="{% static 'test/vendor/superfish/hoverIntent.js' %}"></script>
        <script src="{% static 'test/vendor/superfish/superfish.min.js' %}"></script>
        <script src="{% static 'test/vendor/wow/wow.min.js' %}"></script>
        <script src="{% static 'test/vendor/slick/slick.min.js' %}"></script>
        <script src="{% static 'test/vendor/tempusdominus/js/moment.min.js' %}"></script>
        <script src="{% static 'test/vendor/tempusdominus/js/moment-timezone.min.js' %}"></script>
        <script src="{% static 'test/vendor/tempusdominus/js/tempusdominus-bootstrap-4.min.js' %}"></script>
        
        <!-- Booking Javascript File -->
       
        <script src="{% static 'test/js/jqBootstrapValidation.min.js' %}"></script>
  
        <!-- Main Javascript File -->
        <script src="{% static "test/js/main.js" %}"></script>
    </body>
</html>