


{% extends "MyApp/base.html" %}

{% block content %}
    {% load static %}

    <style>
        #txt_HostCity_holder{
            padding:1rem;

        }
        #txt_HostCity_holder > input{
            border:dotted 1px red;

        }
        #datemsg, #datemsgend{
            padding:0.5rem;
            color:red
        }
    </style>
    {% if messages %}
        {% for message in messages %}
            <br/>
            <div>
                <center>
                    <div style="padding:1rem; border-radius:15px; width:auto; display:flex; justify-content:center;align-centent:center;" class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'warning' %}alert-warning{% elif message.tags == 'error' %}alert-danger{% elif message.tags == 'info' %}info{% endif %}">
                        <p style="font-size:20px">
                            <b> {{ message }}</b>
                        </p>
                    </div>
                </center>
            </div>

        {% endfor %}
    {% endif %}

    <div class="container">
        <center style="padding:1rem">
            <div>
                <div style="padding:1rem">
                    <h1><b>Colors Application basic information</b></h1>
                </div>
                <hr/>
                <h3>

                    {{federationPersonel.FederationName}}
                </h3>
                
                
            </div>
      
        </center>

        <div class="booking-form" style="border:solid 1px grey; padding:1rem; border-radius:12px">
            <div style="border:solid 2px; padding: 1rem; border-radius:12px" class="text-danger">

                <p class="text-danger" style="font-size:17px">
                    <b>
                        Please note that the event you are applying for must be at least 30 days away. Otherwise, you will not be allowed to continue with the application.
                    </b>
                    
                </p>
            </div>
            <br/>
            <form method="post"  enctype="multipart/form-data" style="width:inherit">
                {% csrf_token %}
                <div class="form-outline">
                    <label class="form-label" for="EventName">Event Name</label> 
                    <input required type="text" name="EventName" placeholder="Name of event"  class="form-control form-control-lg">
            
                </div>

                <div class="form-outline" style="display:flex;flex-direction: column">
                    <label class="form-label" for="Middlename">Host Province</label>
                    <select onchange="setCities(this.value)" required  type="text" name="HostProvince" id="drpListProvince"  class="form-control form-control-lg"></select>
                    
                
                </div>
                <div class="form-outline">
                    <label class="form-label" for="HostCity">Host city/town</label>
                    <select onchange="whenCitChange(this.value)" id="drpCities" required type="text" name="HostCity" class="form-control form-control-lg"></select>
                    
                    <div id="txt_HostCity_holder" hidden >
                        <label>Please specify city/town</label>
                        <input type="text"  class="form-control form-control-lg" id="txt_HostCity" />

                    </div>
            
                </div>
               
            
                <div class="form-outline" style="display:flex;flex-direction: column">
                    <label class="form-label" for="Middlename">Start Date</label>
                    <input  required  type="date" id="StartDate" name="StartDate" onchange="validateDate(this.value, 'start')" class="form-control form-control-lg">
                    <div id="datemsg">
                        
                    </div>
                
                </div>
                
                <div class="form-outline">
                    <label class="form-label" for="EndDate">End Date</label>
                    <input required type="date" onchange="validateDate(this.value, 'end')" id="endDate" name="EndDate" class="form-control form-control-lg">
                    <div id="datemsgend">
                        
                    </div>
                </div>
               
               
                
                <div class="form-outline" style="display:flex;flex-direction: column">
                        
                    <label class="form-label" for="RepresatativeType">Team Selection Approved  Date</label>
                    <input required type="date" name="SelectionApprovedDate" class="form-control form-control-lg" />
                        
                    
                
                </div>
         
                <div class="form-outline" style="display:flex;flex-direction: column">
                    <label class="form-label" for="TravelDateTime">Travel Date And Time</label>
                    <div class="" style="display:flex;justify-content:center ">
                        <input  required  type="datetime-local" name="TravelDateTime" style=""  class="form-control form-control-lg">
                      
                        
                    </div>
                   
                
                </div>
                <br/>
                

                <input class="btn btn-default btn-primary" style="width:100%" type="submit" value="Save and continue"/> 
            </form>
            
            
        </div>

    </div>
    <script>
      

        </script>
    {% comment %} <script>

        //checking date

        function dateChanged(input){

            let date = input.value
            let dateComps = date.split('-')
            console.log("Date has been changed!", dateComps)
            let year = parseInt(dateComps[0])
            let month = parseInt(dateComps[1])
            let day = parseInt(dateComps[3])

            verifyDate(date)

        }
        
        function verifyDate(datestr){
            console.log("datestr: ",datestr)
            
            fetch("http://127.0.0.1:8000/checkDateAp/"+datestr,{
                method:"GET",
                
               // mode:'no-cors',
                
               
            }).then(function(response){
                
               
                return response.json()
            }).then(function(data) {
               
                console.log(data.isValid); 
                if(data.isValid){
                    datemsg = document.getElementById("datemsg")
                    datemsg.innerHTML = '<i class="text-success">Date valid</i>'
                }
                else{
                    datemsg = document.getElementById("datemsg")
                    datemsg.innerHTML = '<i class="text-danger">Date must be 30 days or above before the event</i>'
                    date = document.getElementById("StartDate")
                    date.value =null
                    return;
                }
            }).catch(function(error){
                console.log(error)
                datemsg = document.getElementById("datemsg")
               // document.getElementById('OfficialLetterhead_selected').innerHTML= '<small class="text-danger"><b>Something went wrong, please try again.</b></small>'
               datemsg.innerHTML += ' (<i class="text-danger">Something went wrong while validating date please try again</i>)'

            });
        }

    </script> {% endcomment %}
    <script src="{% static 'MyApp/myjs/basiccolorsjs.js' %}"></script>
{% endblock %}






{% comment %} 

<form method="post" >
    {% csrf_token %}









   



    <label for="ModeOfTravel">Mode Of Travel</label><br/>

    <input required type="Text" name="ModeOfTravel" placeholder="Mode Of Travel"/><br/><br/>



    <input type="submit" value="Submit" />
</form>

<hr/> {% endcomment %}