{% extends "MyApp/base.html" %}

{% block content %}
    {% load static %}

  
    
    <style>
        table{
            border:solid 1px;
            width:100%
        }
        tr{
            border:solid 1px
        }
        td{
            border:solid 1px
        }
        tr:hover{
            background-color:green;
            color:white
        }
        .here:hover{
            padding:0.7rem;
            border:solid 1px;;
            border-radius:60px

        }

    </style>    
    {% if messages %}
        {% for message in messages %}
            <br/>
            <div>
                <center>
                    <div style="padding:1rem; border-radius:15px; width:auto; display:flex; justify-content:center;align-centent:center;" class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'warning' %}alert-warning{% elif message.tags == 'error' %}alert-danger{% elif message.tags == 'info' %}info{% endif %}">
                        <p style="font-size:20px">
                            <b> {{ message }}</b>
                        </p>
                    </div>
                </center>
            </div>

        {% endfor %}
    {% endif %}     

    <div style="padding:1rem">
        <div>
            <a href="{%  url 'ChoosApplicationType'  %}" class="btn btn-default btn-info">Apply for colors</a>
        </div>
    </div>
    {% if ActiveApplication %}

        <div style="padding:1rem; display:flex;justify-content:center; font-size:25px">
            <h2><b>Active {{ActiveApplication.ApplicationStatus}} colors application</b></h2>
        </div>
        <hr/>

        {% comment %} <div class="row"  style="display:flex;justify-content:center">
            <div style="padding:0.5rem;">

                <div style="padding:0.5rem; border:solid 1px; border-radius:12px">
                    <a href="{% url 'Officials' applicationId=ActiveApplication.ApplicationId  %}" title="See officials page" class="btn btn-info">
                        <b>
                            Officials
                        </b>
                    </a>
                    
                    

                </div>
            
            </div>
        
            <div style="padding:0.5rem;">

                <div style="padding:0.5rem; border:solid 1px; border-radius:12px">
                    <a href="{% url 'Applcants' applicationId=ActiveApplication.ApplicationId  %}" title="See Applicants page" class="btn btn-info">
                        <b>
                            Applicants
                        </b>
                    </a> 
                    
                    

                </div>
            
            </div>
        
            <div style="padding:0.5rem;">

                <div style="padding:0.5rem; border:solid 1px; border-radius:12px">
                    <a href="{% url 'Committee' applicationId=ActiveApplication.ApplicationId  %}" title="See Committee members page" class="btn btn-info">
                        <b>
                            Committee
                        </b>
                    </a>
                  
                    

                </div>
            
            </div>
            <div style="padding:0.5rem;">

                <div style="padding:0.5rem; border:solid 1px; border-radius:12px">
                    <a href="{% url 'Documents' applicationId=ActiveApplication.ApplicationId  %}" title="See documents page" class="btn btn-info">
                        <b>
                            Documents
                        </b>
                    </a>
                    
                    
                    

                </div>
            
            </div>
        

        </div> {% endcomment %}
    
        <div class="container">


    
            <div>
                
                <div class=" " style="width:100%">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-header" style="display:flex; justify-content:space-between">
        
                            <div>
                                <h2>
                                    {{ActiveApplication.EventName}}
            
                                </h2>
                            </div>
                            <div>
                                <a href="{% url 'Application_review' applicationId=ActiveApplication.ApplicationId %}" class="btn btn-info">
                                   <b>
                                        Full review
                                   </b>
                                </a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="no-gutters align-items-center">
                                <div class="col mr-2" style="">
                                    <div class=" font-weight-bold" >
                                        <table class="" >
                                            <tr> 
                                                <td>
                                                    <b>Host province</b>
                                                </td>
                                                
                                                <td>
                                                    {{ActiveApplication.HostProvince}}
                                                </td>
                                            </tr>
                                            <tr > 
                                                <td>
                                                    <b>City</b>
                                                </td>
                                                
                                                <td>
                                                    {{ActiveApplication.HostCity}}
                                                </td>
                                            </tr>
        
                                            <tr > 
                                                <td>
                                                    <b>Start Date</b>
                                                </td>
                                                
                                                <td>
                                                    {{ActiveApplication.StartDate}}
                                                </td>
                                            </tr>
        
                                            <tr > 
                                                <td>
                                                    <b>End date</b>
                                                </td>
                                                
                                                <td>
                                                    {{ActiveApplication.EndDate}}
                                                </td>
                                            </tr>
        
                                           
                                           
                                           
                                          
                                            <tr > 
                                                <td>
                                                    <b>Application Status</b>
                                                </td>
                                                
                                                <td>
                                                    {{ActiveApplication.ApplicationStatus}}
                                                </td>
                                            </tr>
        
        
        
                                        </table>
                                        
        
        
             
        
                                    </div>
                                    
                                </div>
                                
                            </div>
        
                            
                    
                        </div>
                  
                       
        
        
        
                       
        
                    </div>
                </div>
        
                
                
            </div>
            
                
        
               
        
                <hr/>
        
                {% if user.is_superuser != True %}
                    {% if application.Step == 'Application_review'%}
        
                        <div>
                        
                        
        
                        
                            
                            <div class="container">
                                <center>
                                    <form method="post" >
                                        {% csrf_token %}
                                        <button class="btn btn-success">
                                            Submit Application
        
                                        </button>
                                    </form>
                                </center>
                            </div>
                        </div>
                    {% endif %}
                {% else %}
      
        
                {% endif %}
        
        
        
        </div>
        
      

   


    {% endif %}

    {% if activeFederationColorsApplications  %}
       <div class="container" style=" padding:1rem">
            <div>

                
                <h4>
                    All federation colors applications 
                </h4>
            </div>
            <hr/>
            <div class="row" >
            
                {% for application in activeFederationColorsApplications %}
                    
                   
                Status: {{application.ApplicationStatus}}
                    <div style="padding:1rem">
                    
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-header">

                                <h5>
                                    {{application.EventName}}

                                </h5>
                            </div>
                            <div class="card-body">
                                <div class="no-gutters align-items-center">
                                    <div class="col mr-2" style="display:flex; justify-content: space-between;">
                                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1" >
                                            <label>
                                                City: {{application.HostCity}}
                                            </label><br/>

                                            <label>
                                                Start Date: {{application.StartDate}}
                                            </label><br/>

                                            <label>
                                                End date: {{application.EndDate}}
                                            </label><br/>
                                            <label>
                                                Status: {{application.ApplicationStatus}}
                                            </label>
                                        </div>
                                        
                                    </div>
                                    
                                </div>

                            
                        
                            </div>
                            <div class="card-footer">

                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2" style="display:flex;">
                                    
                                            <a class="text-center btn btn-info  text-uppercase font-weight-bold text-xs" href="{% url 'Application_review' applicationId=application.ApplicationId %}" style="width:100%">
                                                review
                                            </a>
                                    
                                    </div>
                                
                                </div>
                            </div>
                        </div>
                    </div>
    
                   
                {% endfor%}
            
    
    
    
    
    
    
    
    
    
            </div>
        </div>
        

        <br/>
        <br/>

    {% endif %}
    {% if eventApplications %}
        <div class="container" style="padding:1rem">

            <div >
                <h4>
                    
                    Event Colors applications
                 
                </h4>


            </div>
            <hr/>
            <div class="row">
                {% for application in eventApplications %}
            
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-header">
    
                                <h5>
                                    {{application.Application.EventName}}
    
                                </h5>
                            </div>
                            <div class="card-body">
                                <div class="no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1" >
                                            <label>
                                                City: {{application.Application.HostCity}}
                                            </label><br/>
    
                                            <label>
                                                Start Date: {{application.Application.StartDate}}
                                            </label><br/>
    
                                            <label>
                                                End date: {{application.Application.EndDate}}
                                            </label><br/>
                                            <label>
                                                Status: {{application.status}}
                                            </label><br/>
                                            
                                        </div>
                                        
                                    </div>
                                    
                                </div>
    
                            
                        
                            </div>
                            <div class="card-footer">
    
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2" style="display:flex;">
                                    
                                        <a class="text-center btn btn-info  text-uppercase font-weight-bold text-xs" href="{% url 'ApplicantInfo' applicantApplicationId=application.ApplicantApplicationId %}" style="width:100%">
                                            review
                                        </a>
                                    
                                    </div>
                                
                                </div>
                            </div>
                        </div>
                    </div>
    
    
                
                {% endfor%}
    
            </div>
        </div>
     


    {% endif %}
    {% if historyApplications %}
        <hr/>
        <div class="container">

            <div>
                <h4>
                   
                    History applications
                    
                </h4>


            </div>
            <hr/>
            <div class="row">
                {% for application in historyApplications %}
            
                   
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-header">

                            <h4>
                                {{application.EventName}}

                            </h4>
                        </div>
                        <div class="card-body">
                            <div class="no-gutters align-items-center">
                                <div class="col mr-2" style="display:flex; justify-content: space-between;">
                                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1" >
                                        <label>
                                            City: {{application.HostCity}}
                                        </label><br/>

                                        <label>
                                            Start Date: {{application.StartDate}}
                                        </label><br/>

                                        <label>
                                            End date: {{application.EndDate}}
                                        </label><br/>
                                    </div>
                                    
                                </div>
                                
                            </div>

                        
                    
                        </div>
                        <div class="card-footer">

                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2" style="display:flex;">
                                
                                        <a class="text-center btn btn-info  text-uppercase font-weight-bold text-xs" href="{% url 'Application_review' applicationId=application.ApplicationId %}" style="width:100%">
                                            review
                                        </a>
                                
                                </div>
                            
                            </div>
                        </div>
                    </div>
                

                
                {% endfor%}
            
            </div>
    
        </div>

    

    {% endif %}
{% endblock %}