{% extends "MyApp/base.html" %}

{% block content %}
    {% load static %}
    {% if messages %}
        {% for message in messages %}
            <br/>
            <div>
                <center>
                    <div style="padding:1rem; border-radius:15px; width:auto; display:flex; justify-content:center;align-centent:center;" class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'warning' %}alert-warning{% elif message.tags == 'error' %}alert-danger{% elif message.tags == 'info' %}info{% endif %}">
                        <p style="font-size:20px">
                            <b> {{ message }}</b>
                        </p>
                    </div>
                </center>
            </div>
        {% endfor %}
    {% endif %}



    <div  class="container"  style="display:flex; flex-direction:row; justify-content:space-between; ">
        <div>
            <h3>
                <b>{{committeeMember.FirstName}} {{committeeMember.Surname}}</b>

            </h3>
        </div>
        <div>
            <a href="{% url 'Committee' %}" class="btn btn-default btn-danger">
                Abort Action

            </a>
        </div>
    </div>
    <hr/>
    <div class="container">

        <div>
            <center>
                <div>

                    <p>
                        <label><b>Id number: </b>{{committeeMember.Id_number}}</label><br/>
                        <label><b>First name: </b>{{committeeMember.FirstName}}</label><br/>
                        <label><b>Last name: </b>{{committeeMember.Surname}}</label><br/>
                        <label><b>Gender: </b>{{committeeMember.Gender}}</label><br/>
                        <label><b>Designation: </b>{{committeeMember.position}}</label><br/>
                       
                        <form method="post">
                            {% csrf_token %}
                            <div style="padding:0.5rem">
                                <input type="submit" class="btn btn-default btn-success text-center" style="width:60%" value="Confirn removal"/>

                            </div>
                            <div style="padding:0.5rem">
                                <a href="{% url 'Committee' %}" class="btn btn-default btn-danger">
                                    Abort Action
                    
                                </a>
                            </div>
                        </form>


                    </p>
                </div>
            </center>
        </div>
    </div>





{% endblock %}