{% extends "MyApp/base.html" %}

{% block content %}
    {% load static %}
    {% if messages %}
        {% for message in messages %}
            <br/>
            <div>
                <center>
                    <div style="padding:1rem; border-radius:15px; width:auto; display:flex; justify-content:center;align-centent:center;" class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'warning' %}alert-warning{% elif message.tags == 'error' %}alert-danger{% elif message.tags == 'info' %}info{% endif %}">
                        <p style="font-size:20px">
                            <b> {{ message }}</b>
                        </p>
                    </div>
                </center>
            </div>

        {% endfor %}
    {% endif %}

    <div style="display:flex; justify-content:space-between;">
        <div>

            <h3>{{application.EventName}} Official
        </div>
        <div>
            <a href="{% url 'Officials' applicationId=application.ApplicationId %}" class="btn btn-info">
                Back to Officials list
            </a>
        </div>
    </div>
    <hr/>
    <div class="container">
        <center>

            <p>
                <b>First Name:</b> {{teamOfficial.FirstName}}<br/>
                <b>Last Name:</b> {{teamOfficial.LastName}}<br/>
                <b>Gender:</b> {{teamOfficial.Gender}}<br/>
                <b>Designation:</b> {{teamOfficial.Designation}}<br/>
                <b>ID copy submited? :</b>
                    {% if teamOfficial.IDCopySubmited == True %}
                    
                        Yes
                    {% else %}
                        No
                    
                    {% endif %}
                <br/>
                <b>ID copy submited? :</b>
                    {% if teamOfficial.AcceptanceofTeamAppointment == True %}
                    
                        Yes
                    {% else %}
                        No
                    
                    {% endif %}
                <br/>


            </p>
        </center>

    </div>




{% endblock %}