


{% extends "MyApp/base.html" %}

{% block content %}
    {% load static %}
    {% if messages %}
        {% for message in messages %}
            <br/>
            <div>
                <center>
                    <div style="padding:1rem;  border:solid 2px #FF69B4; border-radius:15px; width:auto; display:flex; justify-content:center;align-centent:center;" class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'warning' %}alert-warning{% elif message.tags == 'error' %}alert-danger{% endif %}">
                    <p >
                        <b> {{ message }}</b>
                    </p>
                    </div>
                </center>
            </div>

        {% endfor %}
    {% endif %}

    <div class="container">
        <div style="padding:1rem; display:flex;justify-content:space-between">

            <div>
               <h3><b> {{application.EventName}} team official</b></h3>
            </div>
            <div>
                <a style="color:white" href="{% url 'addTeamOfficial' applicationId=application.ApplicationId %}" class="btn btn-default btn-warning">
                    Abort action
                </a>
            </div>
        </div>

        <form method="post"  enctype="multipart/form-data" style="width:inherit">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6 mb-4">

                    <div class="form-outline">
                    
                        <input  type="text" name="FirstName" value="{{teamOfficial.FirstName}}"  class="form-control form-control-lg">
                        <label class="form-label" for="FirstName">First Name</label>
                
                    </div>

                </div>

            
            
                <div class="col-md-6 mb-4">

                <div class="form-outline" style="display:flex;flex-direction: column">
                    
                    <input   type="text" name="LastName" value="{{teamOfficial.LastName}}"  class="form-control form-control-lg">
                    <label class="form-label" for="LastName">Last Name</label>
                
                </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-4">

                    <div class="form-outline">

                    
                        <select value="{{teamOfficial.Gender}}" name="Gender" class="form-control form-control-lg">
                            <option value="none">
                                Select
                            </option>
                            <option value="Male">
                                Male
                            </option>
                            <option value="Femal">
                                Female
                            </option>
                            <option value="Other">
                                Other
                            </option>
                        </select>

                        <label class="form-label" for="EndDate">Gender: <b>{{teamOfficial.Gender}}</b></label>
                
                    </div>

                </div>

            
            
                <div class="col-md-6 mb-4">

                <div class="form-outline" style="display:flex;flex-direction: column">
                    
                    <input   type="text" name="Designation" value="{{teamOfficial.Designation}}"  class="form-control form-control-lg">
                    <label class="form-label" for="Designation">Official Designation</label>
                
                </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-4">

                    <div class="form-outline">
                    
                        <select required  name="IDCopySubmited" class="form-control form-control-lg">
                            <option value="none">
                                Select
                            </option>
                            <option value="yes">
                                Yes
                            </option>
                            <option value="no">
                                No
                            </option>
                        </select>

                        <label class="form-label" for="IDCopySubmited">Is the official id copy submited: 
                            <b>{% if teamOfficial.IDCopySubmited == True %}
                                    Yes
                                {% else %}
                                    No
                                {% endif %}
                            </b>
                        </label>

                
                    </div>

                </div>

            
            
                <div class="col-md-6 mb-4">

                <div class="form-outline" style="display:flex;flex-direction: column">
                    
                    <select required   name="AcceptanceofTeamAppointment"  class="form-control form-control-lg">
                        <option value="none">
                            Select
                        </option>
                        <option value="yes">
                            Yes
                        </option>
                        <option value="no">
                            No 
                        </option>
                    <select>
                    <label class="form-label" for="AcceptanceofTeamAppointment">Is the acceptance of team appointment submited:
                        <b>{% if teamOfficial.AcceptanceofTeamAppointment == True %}
                                Yes
                            {% else %}
                                No
                            {% endif %}
                        </b>
                    </label>
                
                </div>

                </div>
            </div>
            
      


            <div style="padding:0.5; display:flex; justify-content:center">
                <input class="btn btn-default btn-primary" style="width:70%" type="submit" value="Save and continue"/> 
            </div>
            <div style="padding:0.5rem; display:flex; justify-content:center ">
                <a class="btn btn-default btn-warning" style="width:30%;color:white" href="{% url 'addTeamOfficial' applicationId=application.ApplicationId %}"> 
                    Abort action
                </a>
            </div>
            
        </form>



    </div>
   



{% endblock %}




