


{% extends "MyApp/base.html" %}

{% block content %}
    {% load static %}
    {% if messages %}
        {% for message in messages %}
            <br/>
            <div>
                <center>
                    <div style="padding:1rem; border-radius:15px; width:auto; display:flex; justify-content:center;align-centent:center;" class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'warning' %}alert-warning{% elif message.tags == 'error' %}alert-danger{% elif message.tags == 'info' %}info{% endif %}">
                        <p style="font-size:20px">
                            <b> {{ message }}</b>
                        </p>
                    </div>
                </center>
            </div>
        {% endfor %}
    {% endif %}

    <div class="container">
        <div style="padding:1rem; display:flex;justify-content:space-between">

            <div>
               <h3><b> {{application.EventName}} application</b></h3>
            </div>
            <div>
                <a style="color:white" href="{% url 'Application_review' applicationId=application.ApplicationId %}" class="btn btn-default btn-warning">
                    Abort action
                </a>
            </div>
        </div>

        <form method="post"  enctype="multipart/form-data" style="width:inherit">
            {% csrf_token %}
            <div class="form-outline">
                <label class="form-label" for="EventName">Event Name</label> 
                <input required type="text" name="EventName" value="{{application.EventName}}" class="form-control form-control-lg">
        
            </div>
            <div class="form-outline" style="display:flex;flex-direction: column">
                <label class="form-label" for="Middlename">Host Province</label>
                <select onchange="setCities(this.value)" required  type="text" name="HostProvince" id="drpListProvince"  class="form-control form-control-lg">
                    <option value="{{ application.HostProvince}}">
                        {{ application.HostProvince}}
                    </option>
                </select>
                
            
            </div>
            <div class="form-outline">
                <label class="form-label" for="HostCity">Host city/town</label>
                <input type="hidden" value="{{application.HostCity}}" id="dbValue" />
                <select onchange="whenCitChange(this.value)" id="drpCities" required type="text" name="HostCity" class="form-control form-control-lg">
                   
 
                </select>
                
                <div id="txt_HostCity_holder" hidden >
                    <label>Please specify city/town</label>
                    <input type="text"  class="form-control form-control-lg" id="txt_HostCity" />

                </div>
        
            </div>

        
        
            <div class="form-outline" style="display:flex;flex-direction: column">
                <label class="form-label" for="Middlename">Start Date</label>
                <input  required value="{{ application.StartDate|date:'Y-m-d' }}"   type="date" id="StartDate" name="StartDate" onchange="validateDate(this.value, 'start')" class="form-control form-control-lg">
                <div id="datemsg">
                    
                </div>
            
            </div>
            
            <div class="form-outline">
                <label class="form-label" for="EndDate">End Date</label>
                <input required  value="{{ application.EndDate|date:'Y-m-d' }}"  type="date" onchange="validateDate(this.value, 'end')" id="endDate" name="EndDate" class="form-control form-control-lg">
                <div id="datemsgend">
                    
                </div>
            </div>
           
                       
            
            <div class="form-outline" style="display:flex;flex-direction: column">
                    
                <label class="form-label" for="RepresatativeType">Team Selection Approved  Date</label>
                <input required type="date" value="{{ application.SelectionApprovedDate|date:'Y-m-d' }}" name="SelectionApprovedDate" class="form-control form-control-lg" />
                    
                
            
            </div>
     
            <div class="form-outline" style="display:flex;flex-direction: column">
                <label class="form-label" for="TravelDateTime">Travel Date And Time</label>
                <div class="" style="display:flex;justify-content:center ">
                    <input value="{{ application.TravelDateTime|date:'Y-m-d\TH:i' }}" required  type="datetime-local" name="TravelDateTime" style=""  class="form-control form-control-lg">
                    
                </div>
               
            
            </div>
            <br/>
            

            <input class="btn btn-default btn-primary" style="width:100%" type="submit" value="Save changes"/> 
        </form>
        
        <br/>

    </div>


    <script src="{% static 'MyApp/myjs/basiccolorsjs.js' %}"></script>

    <script>
        function setCities(provinceName){


            const provinceOBJ = provinces.find(province => province.ProvinceName === provinceName/*provinceName"Eastern Cape*/);
          
            const cities = provinceOBJ.cities
          
            const drpCities2 = document.getElementById("drpCities2")
            console.log("drpCities2: ", drpCities2)
            console.log(drpCities)
            drpCities.innerHTML =null
            cities.forEach(function(city){
              drpCities.innerHTML +='<option value="'+city+'">'+city+'</option>'
            });
          }
    </script>


{% endblock %}


