


{% extends "MyApp/base.html" %}

{% block content %}
    {% load static %}
    {% if messages %}
        {% for message in messages %}
            <br/>
            <div>
                <center>
                    <div style="padding:1rem; border-radius:15px; width:auto; display:flex; justify-content:center;align-centent:center;" class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'warning' %}alert-warning{% elif message.tags == 'error' %}alert-danger{% elif message.tags == 'info' %}info{% endif %}">
                        <p style="font-size:20px">
                            <b> {{ message }}</b>
                        </p>
                    </div>
                </center>
            </div>
        {% endfor %}
    {% endif %}

    <div class="container">
        <div style="padding:1rem; display:flex;justify-content:space-between">

            <div>
               <h3><b> {{application.EventName}} application</b></h3>
            </div>
            <div>
                <a style="color:white" href="{% url 'Application_review' applicationId=application.ApplicationId %}" class="btn btn-default btn-warning">
                    Abort action
                </a>
            </div>
        </div>

        <form method="post"  enctype="multipart/form-data" style="width:inherit">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6 mb-4">

                    <div class="form-outline">
                    
                        <input required type="text" name="EventName" value="{{application.EventName}}" placeholder="Name of event"  class="form-control form-control-lg">
                        <label class="form-label" for="EventName">Event Name</label>
                
                    </div>

                </div>

            
            
                <div class="col-md-6 mb-4">

                <div class="form-outline" style="display:flex;flex-direction: column">
                    
                    <input required  type="date" name="StartDate"  class="form-control form-control-lg">
                    <label class="form-label" for="Middlename">Start Date: {{application.StartDate}}</label>
                
                </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-4">

                    <div class="form-outline">
                    
                        <input required type="date" name="EndDate" class="form-control form-control-lg">
                        <label class="form-label" for="EndDate">End Date: {{application.StartDate}}</label>
                
                    </div>

                </div>

            
            
                <div class="col-md-6 mb-4">

                <div class="form-outline" style="display:flex;flex-direction: column">
                    
                    <input required  type="number" name="NumberOfTeam" value="{{application.NumberOfTeam}}" class="form-control form-control-lg">
                    <label class="form-label" for="NumberOfTeam">Number Of Team Members</label>
                
                </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-4">

                    <div class="form-outline">
                    
                        <input required type="text" name="HostCity" value="{{application.HostCity}}" class="form-control form-control-lg">
                        <label class="form-label" for="HostCity">Host City</label>
                
                    </div>

                </div>

            
            
                <div class="col-md-6 mb-4">

                <div class="form-outline" style="display:flex;flex-direction: column">
                    
                    <input required  type="text" name="HostProvince" value="{{application.HostProvince}}"  class="form-control form-control-lg">
                    <label class="form-label" for="Middlename">Host Province</label>
                
                </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-4">

                    <div class="form-outline">
                    
                        <input required type="text" name="MethodOfSelection" value="{{application.MethodOfSelection}}" class="form-control form-control-lg">
                        <label class="form-label" for="MethodOfSelection">Method Of Selection</label>
                
                    </div>

                </div>

            
            
                <div class="col-md-6 mb-4">

                <div class="form-outline" style="display:flex;flex-direction: column">
                    
                   
                    <input type="date" name="SelectionApprovedDate" class="form-control form-control-lg" />
                        
                    <label class="form-label" for="RepresatativeType">Team Selection Approved  Date: {{application.SelectionApprovedDate}}</label>
                
                </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-4">

                    <div class="form-outline">
                    
                        <input required type="text" name="ModeOfTravel" value="{{application.ModeOfTravel}}" class="form-control form-control-lg">
                        <label class="form-label" for="ModeOfTravel">Mode of travel</label>
                
                    </div>

                </div>

            
            
                <div class="col-md-6 mb-4">

                    <div class="form-outline" style="display:flex;flex-direction: column">
                        
                        <div style="display:flex; ">
                            <input required  type="date" name="TravelDate" style="border-right:none"  class="form-control form-control-lg">
                            <input required type="time" name="TravelTime" style="padding:0.5rem; border:solid 1px grey; border-left:none; border-raduis:12px"/>
                        </div>
                        <label class="form-label" for="TravelDateTime">Travel Date And Time: {{application.TravelDateTime}}</label>
                    
                    </div>

                </div>
            </div>


            <input class="btn btn-default btn-primary" style="width:100%" type="submit" value="Save changes"/> 
            <div style="padding:1rem; display:flex; justify-content:center; ">
                <a style="color:white;width:30%" href="{% url 'Application_review' applicationId=application.ApplicationId %}" class="btn btn-default btn-warning">
                    Abort action
                </a>
            </div>
        </form>



    </div>



{% endblock %}



<hr/>

