


{% extends "MyApp/base.html" %}

{% block content %}
    {% load static %}
    {% if messages %}
        {% for message in messages %}
            <br/>
            <div>
                <center>
                    <div style="padding:1rem; border-radius:15px; width:auto; display:flex; justify-content:center;align-centent:center;" class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'warning' %}alert-warning{% elif message.tags == 'error' %}alert-danger{% elif message.tags == 'info' %}alert-info{% endif %}">
                        <p style="font-size:20px">
                            <b> {{ message }}</b>
                        </p>
                    </div>
                </center>
            </div>

        {% endfor %}
    {% endif %}
    
    <div class="container">

        <div class="row" style="display:flex; justify-content:space-between;">
    
            <div style="padding:1rem;padding-left:2rem">
    
               <h1>
                    KZNSC Commitee
               </h1>
            </div>
            <div style="padding:1rem; padding-right: 1.5rem">
                <a href="{% url 'CommitteeMemberDetails' MemberId=committeeMember.CommitteeMemberId %}" class="btn btn-info">
                    Back to commitee members details
                </a>
            </div>
        </div>
            
    

  
        <hr/>
        <div class="container" style="display:flex; justify-content:center; padding:1rem">
                <h1 class="text">
                    <b> {{application.EventName}}</b>
                </h1>
        </div>
       
    


        <form method="post"  enctype="multipart/form-data" style="width:inherit">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6 mb-4">

                    <div class="form-outline">
                    
                        <input type="text" name="FirstName" value="{{committeeMember.FirstName}}"  class="form-control form-control-lg">
                        <label class="form-label" for="FirstName">First Name</label>
                
                    </div>

                </div>

            
            
                <div class="col-md-6 mb-4">

                <div class="form-outline" style="display:flex;flex-direction: column">
                    
                    <input   type="text" name="Surname" value="{{committeeMember.Surname}}"  class="form-control form-control-lg">
                    <label class="form-label" for="Surname">Last Name</label>
                
                </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-4">

                    <div class="form-outline">

                    
                        <select  name="Gender" class="form-control form-control-lg">
                            <option value="none">
                                Select
                            </option>
                            <option value="Male">
                                Male
                            </option>
                            <option value="Femal">
                                Female
                            </option>
                            <option value="Other">
                                Other
                            </option>
                        </select>

                        <label class="form-label" for="EndDate">Gender: <b>{{committeeMember.Gender}}</b></label>
                
                    </div>

                </div>

            
            
                <div class="col-md-6 mb-4">

                <div class="form-outline" style="display:flex;flex-direction: column">
                    
                    <input   type="text" name="PhoneNumber" value="{{committeeMember.PhoneNumber}}"  class="form-control form-control-lg">
                    <label class="form-label" for="PhoneNumber">Phone Number</label>
                
                </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-4">

                    <div class="form-outline" style="display:flex;flex-direction: column">
                    
                        <input  type="email" name="Email" value="{{committeeMember.Email}}"   class="form-control form-control-lg">
                        <label class="form-label" for="Email">Email Address</label>
                    
                    </div>
                </div>

            
            
                <div class="col-md-6 mb-4">

                    <div class="form-outline" style="display:flex;flex-direction: column">
                    
                        <input  type="text" name="City"  value="{{committeeMember.City}}" class="form-control form-control-lg">
                        <label class="form-label" for="City">City</label>
                    
                    </div>

                </div>
            </div>
            <!--*****************************************-->
        
            <div>
                <select name="Province"   class="form-control form-control-lg">
                    <option value="{{committeeMember.Province}}">{{committeeMember.Province}}(current)</option>

                    <option value="KwaZulu-Natal">KwaZulu-Natal</option>
                    <option value="Eastern Cape">Eastern Cape</option>
                    <option value="Free State">Free State</option>
                    <option value="Gauteng">Gauteng</option>
                    <option value="Limpopo">Limpopo</option>
                    <option value="Mpumalanga">Mpumalanga</option>
                    <option value="Northern Cape">Northern Cape</option>
                    <option value="North West">North West</option>
                    <option value="Western Cape">Western Cape</option>
                </select>
                <label class="form-label" for="Province">Province</label>

            </div>
            
            <div style="padding:1rem">
                <div style="padding:0.3rem">
                    <input class="btn btn-default btn-primary" style="width:100%" type="submit" value="Save changes"/>
                </div>
                
                
                <div style="padding:0.3rem">
                    <a style="color:white; width:100%" href="{% url 'CommitteeMemberDetails' MemberId=committeeMember.CommitteeMemberId %}" class="btn btn-default btn-danger">
                        Back To Member Details
                    </a>
                </div>
            </div>
            
        </form>



    </div>




{% endblock %}




