


{% extends "MyApp/base.html" %}

{% block content %}
    {% load static %}
    {% if messages %}
        {% for message in messages %}
            <br/>
            <div>
                <center>
                    <div style="padding:1rem; border-radius:15px; width:auto; display:flex; justify-content:center;align-centent:center;" class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'warning' %}alert-warning{% elif message.tags == 'error' %}alert-danger{% elif message.tags == 'info' %}info{% endif %}">
                        <p style="font-size:20px">
                            <b> {{ message }}</b>
                        </p>
                    </div>
                </center>
            </div>

        {% endfor %}
    {% endif %}
    <div class="container">
     
            <div style="padding:1rem; display:flex;justify-content:space-between">

                <div>
                    <h3><b>{{application.EventName}} documents  {{application.Step }}</b>    
                </div>
                <div>
                   
                    {% if application.Step == 'Pending' %} 

                            
                          

                        <div style="padding:0.5rem;">
                            <a href="{% url 'Application_review' applicationId=application.ApplicationId  %}" title="See officials page" class="btn btn-info">
                                <b>
                                    Back to Application
                                </b>
                            </a>
                                
                
                        </div>
                          
                    {% endif %}


                    {% if application.Step == 'Application_review' %}
                            <a href="{% url 'Application_review' applicationId=application.ApplicationId  %}" title="See officials page" class="btn btn-info">
                                <b>
                                    Back to Application review
                                </b>
                            </a>

                    {% endif %}
                </div>
            </div>
        


        <form method="post"  enctype="multipart/form-data" style="width:inherit; padding:1rem">
            {% csrf_token %}
           
            <div class="form-outline" style="display:flex;flex-direction: column; padding:1rem">
                    
                <label class="form-label" for="EventInvitation" id="lblEventInvitation">Event Invitation <b id="msgEventInvitation"></b></label>

                <input 
                
                {% if application.Step != 'Application_review' and  application.Step == 'Pending' %}
                    required
                {% endif %}  
            
                type="file" id="EventInvitationId" onchange="EventInvitationchange()" placeholder="Last name"  class="form-control form-control-lg">
                <input type="hidden" id="EventInvitation" name="EventInvitation"/>

            
            </div>
            <input class="btn btn-default btn-primary" style="width:100%" type="submit" value="Save document details"/> 
        </form>



        {% if application.Step == 'Pending' %}
            <div style="padding:1rem;  display:flex;justify-content:center">
                <h2>
                    <b>Documents</b>
                </h2>

            </div>
            <div class="row" >
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center" style="display:flex;justify-content:center">
                                {% comment %}  src="http://127.0.0.1:8000/media/TheFiles/files/Screenshot_2023-03-06_215627.png"{% endcomment %}
                                {% comment %} <img src="{% static 'manageProfile/images/DefaultProfile.jpg'%}"/> {% endcomment %}
                            
                                <iframe id="iframe" src="{{application.EventInvitation}}" style="width:inherit; width:100%;border:solid;max-height:320px"  >

                                </iframe>
                            </div>
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2" style="display:flex; justify-content: space-between;">
                                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1" >
                                        Event Invitation 
                                    </div>
                                    
                                </div>
                            
                            </div>
                            <div class="row no-gutters align-items-center" style="padding:1rem">
                                <div class="col-auto"  styl="display:flex; justify-content:space-between;align-content:center;color: #FF69B4;" >
                                    <a title="See item details" style="color: #FF69B4;padding:0.5rem" href="{{application.EventInvitation}}"> <i class="fas fa-eye view-icon"></i></a>     
                                </div>
                            </div>
                            
                            
                        </div>
                        
                    </div>
                </div>





            </div>


        {% endif %}

        {% if application.Step == 'Application_review' %}

            <div style="padding:1rem; display:flex;justify-content:center">
                <h2>
                    <b>Documents</b>
                </h2>

            </div>

            <div class="row">

                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center" style="display:flex;justify-content:center">
                                {% comment %}  src="http://127.0.0.1:8000/media/TheFiles/files/Screenshot_2023-03-06_215627.png"{% endcomment %}
                                {% comment %} <img src="{% static 'manageProfile/images/DefaultProfile.jpg'%}"/> {% endcomment %}
                            
                                <iframe id="iframe" src="{{application.EventInvitation}}" style="width:inherit; width:100%;border:solid;max-height:320px"  >

                                </iframe>
                            </div>
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2" style="display:flex; justify-content: space-between;">
                                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1" >
                                        Event Invitation 
                                    </div>
                                    <div>

                                        <a href="{{application.EventInvitation}}">
                                           <h4>
                                                <b>
                                                    view
                                                </b>
                                            </h4>
                                        </a>
                                    </div>
                                    
                                </div>
                            
                            </div>
                            <div class="row no-gutters align-items-center" style="padding:1rem">
                                <div class="col-auto"  styl="display:flex; justify-content:space-between;align-content:center;color: #FF69B4;" >
                                    
                                    <a title="See item details" style="color: #FF69B4;padding:0.5rem" href="{{application.EventInvitation}}"> <i class="fas fa-eye view-icon"></i></a>
                             

                                        
                                </div>
                            </div>
                            
                            
                        </div>
                        
                    </div>
                </div>





            </div>


        {% endif %}


    </div>
    

    <script>


      
        EventInvitation = document.getElementById("EventInvitationId")
        //federation = "Net ball fed"
       
        federation = "{{application.FederationPersonel.FederationName}}"



        function EventInvitationchange() {
            // document.getElementById('OfficialLetterhead_selected').innerHTML= '<h6 class="text-info"><b>uploading file.. please wait.</b></h6>';
            whichFileType = 'EventInvitation'
            file = EventInvitation.files[0]
            msgId = document.getElementById('msg'+whichFileType)
            if (msgId){
                msgId.innerHTML=null
            }
            if (validatefile(file, whichFileType) ==false){
                EventInvitation.value
                return;
            }
            else{
                
                uploadFile(file,federation,whichFileType)
            }
            return null;
        }
    






        const uploadFile = (file, federation, whichFileType) =>{
           
            var ext = file.name.split('.').reverse()[0]
            oldFilrName = file.name
            
           
           // document.getElementById('OfficialLetterhead_selected').innerHTML= '<h6 class="text-info"><b>uploading file... please wait.</b></h6>';
            
            const form_data = new FormData();
            form_data.append('fileUpload',file);
            form_data.append('whichFileType',whichFileType);
            form_data.append('Federation', federation);
          
            //email
            //upload.php https://governance.kznsc.com/upload.php   http://localhost/code1/upload.php"  
            fetch("http://localhost/Colors_Documents/upload.php",{
                method:"POST",
                
               // mode:'no-cors',
                
                body:form_data
            }).then(function(response){
                console.log(response.status)
                id = "lbl"+whichFileType
                lblError = document.getElementById(id)
                if(response.status == "200"){
                    console.log("Uploaded!")
                    filelinK = document.getElementById(whichFileType)
                    
                    filelinK.value = 'http://localhost/Colors_Documents/uploads/'+federation+whichFileType+'.pdf'
                    TheReview = document.getElementById("TheReview")
                    msgId.innerHTML  = null
                    
                    msgId.innerHTML += ' (<i class="text-success">Uploaded</i>)'
                }
              
            }).catch(function(error){
                console.log("error")
                msgId.innerHTML  = null
               // document.getElementById('OfficialLetterhead_selected').innerHTML= '<small class="text-danger"><b>Something went wrong, please try again.</b></small>'
               msgId.innerHTML += ' (<i class="text-danger">Something went wrong please try again</i>)'

            });
            //OfficialLetterhead.value =null;
         
     
            
            
        } 

        function validatefile(file, whichFileType){
            isValid = true
            var ext = file.name.split('.').reverse()[0]
            oldFilrName = file.name
            id = "lbl"+whichFileType
            lblError = document.getElementById(id)
            console.log("Ext: "+ext)
            thefile= document.getElementById(whichFileType)
            msgId =document.getElementById('msg'+whichFileType) 
            if (ext != 'pdf'){
                
                msgId.innerHTML += ' (<i style="color:red">Only PDF files accepted</i>)'
               
                return false;
            }
            if(file.size > (5*1024*1024)){
                thefile.value =null;
                msgId.innerHTML += ' (<i style="color:red">All files must be less than 5mb</i>)'
                return false
            }

            
            
        }
    </script>



{% endblock %}




